In [ ]:
# 1a) The MLB season salary distribution is right skewed.
#  b) i (less skewed)

# 2) A

# 3) In linear regression, we attempt to draw a line that would best describe the relationship between our x and y. In linear regression,
#    you only have one x variable predicting your y. However, in multiple regression you have 2+ x variables that are used to predict y.

# 4) D

In [17]:
import pandas as pd
import numpy as np
import statsmodels.formula.api as smf

# reading data
hitters = pd.read_csv('Hitters.csv')
hitters.dropna()
hitters.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,CRuns,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague
0,293,66,1,30,29,14,1,293,66,1,30,29,14,A,E,446,33,20,NaN,A
1,315,81,7,24,38,39,14,3449,835,69,321,414,375,N,W,632,43,10,475.0,N
2,479,130,18,66,72,76,3,1624,457,63,224,266,263,A,W,880,82,14,480.0,A
3,496,141,20,65,78,37,11,5628,1575,225,828,838,354,N,E,200,11,3,500.0,N
4,321,87,10,39,42,30,2,396,101,12,48,46,33,N,E,805,40,4,91.5,N

In [24]:
# creating logSalary variable
hitters['logSalary'] = np.log(hitters['Salary'])

# creating league_0_1
hitters['League_0_1'] = hitters['NewLeague']

# replacing A/N with 1/0
hitters['League_0_1'] = hitters['League_0_1'].replace(to_replace = ['A', 'N'], value = [1, 0])
hitters.head()

,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,CHmRun,...,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague,logSalary,League_0_1
0,293,66,1,30,29,14,1,293,66,1,...,14,A,E,446,33,20,NaN,A,NaN,1
1,315,81,7,24,38,39,14,3449,835,69,...,375,N,W,632,43,10,475.0,N,6.163315,0
2,479,130,18,66,72,76,3,1624,457,63,...,263,A,W,880,82,14,480.0,A,6.173786,1
3,496,141,20,65,78,37,11,5628,1575,225,...,354,N,E,200,11,3,500.0,N,6.214608,0
4,321,87,10,39,42,30,2,396,101,12,...,33,N,E,805,40,4,91.5,N,4.516339,0

In [25]:
# creating a multiple linear regression model
hitters_ols = smf.ols(formula = 'logSalary ~ AtBat + Hits + HmRun + League_0_1', data = hitters).fit()

# extracting model results
hitters_ols.summary()

## We can determine that AtBat is significant because the coefficient is greater than 2 times the standard error. 

## We can determine that League_0_1 is significant because the coefficient is greater than 2 times the standard error.

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:              logSalary   R-squared:                       0.229
Model:                            OLS   Adj. R-squared:                  0.217
Method:                 Least Squares   F-statistic:                     19.12
Date:                Sun, 31 Oct 2021   Prob (F-statistic):           8.64e-14
Time:                        21:56:11   Log-Likelihood:                -307.65
No. Observations:                 263   AIC:                             625.3
Df Residuals:                     258   BIC:                             643.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      5.1515      0.156     32.992      0.000       4.844       5.459
AtBat         -0.0022      0.001     -1.766      0.079      -0.005       0.000
Hits           0.0142      0.004      3.495      0.001       0.006       0.022
HmRun          0.0179      0.007      2.630      0.009       0.004       0.031
League_0_1    -0.1062      0.099     -1.069      0.286      -0.302       0.090
==============================================================================
Omnibus:                        4.019   Durbin-Watson:                   1.877
Prob(Omnibus):                  0.134   Jarque-Bera (JB):                3.706
Skew:                          -0.225   Prob(JB):                        0.157
Kurtosis:                       2.632   Cond. No.                     1.47e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.47e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [36]:
# new observation data when League_0_1 = 0 (NATIONAL LEAGUE)
newdata_0 = pd.DataFrame({'AtBat' : [600], 'Hits' : [220], 'HmRun' : [35], 'League_0_1' : [0]})

# new observation data when League_0_1 = 1 (AMERICAN LEAGUE)
newdata_1 = pd.DataFrame({'AtBat' : [600], 'Hits' : [220], 'HmRun' : [35], 'League_0_1' : [1]})

# predicting on newdata for the national league
print(np.exp(hitters_ols.predict(newdata_0)))

# predicting on newdata for the american league
print(np.exp(hitters_ols.predict(newdata_1)))

## Our estimated salary for a player in the National League with 600 at bats, 220 hits, and 35 homeruns is $1,904,147.

## Our estimated salary for a player in the American league with 600 at bats, 220 hits, and 35 homeruns is $1,712,261. 

## We can conclude that for a player with 600 at bats, 220 hits, and 35 homeruns that the salary will be around $178,000 higher for the National league than the American league.

0    1904.146581
dtype: float64
0    1712.260739
dtype: float64